@page
@model BlobResources.Pages.Blob.DeleteModel
@{
}
@{
    ViewData["Title"] = "Delete a Blob Page";
}

<h1>Delete a Blob.</h1>

@* Your HTML content here *@
<div>
    <form method="post">
        <label for="blobName">Introduce the Blob name that you want to delete:</label>
        <input type="text" name="blobName" id="blobName" />
        <br />
        <input type="submit" value="Delete Blob" />
    </form>
</div>


@* Display a message if the blob creation was successful *@
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div style="color: green;">
        @Model.Message
    </div>
}
