
@page
@model BlobResources.Pages.BlobModel
@{
    ViewData["Title"] = "Blob- home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Blob basic operations.</p>
</div>

